streamlit
groq
tavily-python
audio-recorder-streamlit
gspread
google-auth
edge-tts>=6.1.12
pandas
google-generativeai>=0.8.3
oauth2client
pyairtable
aiohttp>=3.9.0
pinecone
line-bot-sdk
